@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap');


$stress-gray: #f8f8f8;
$bucket-black: #1c1b20;
$stress-red: #ff5851;
$stress-black: #110f11;
$blue: rgb(191, 234, 255);
$sec-font: 'Raleway', sans-serif;
$jos-font: 'Josefin Sans', sans-serif;
$bask-font: 'Libre Baskerville', serif;


/*Mixins
===========================*/
@mixin fancyH1 {
    font-family: $sec-font;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11rem;
    line-height: 0;
    letter-spacing: -3px;
    color: $bucket-black;
}
@mixin socialIcons {
    color: $bucket-black;
    padding: 3px;
    font-weight: 800;
    font-size: .9rem;
}

body{
    background: #fff;
    margin: 0;
    color: $bucket-black;
    font-family: $jos-font;
    @media (min-width:550px) {
        margin: 0 2.5rem;
    }
    @media (max-width:550px) {
        background: $stress-gray;
    }
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
/*Global
===========================*/
@media(max-width:550px){
    .lg-screen{
        display: none;
        visibility: hidden;
    }
}
@media(min-width:550px){
    .sm-screen{
        display: none;
        visibility: hidden;
    }
    .space-bar{
        width: 100%;
        height: 30px;
        position: fixed;
        top: 0;
        background: #fff;
        z-index: 10;
    }
}

/*Bucket - Main*/
.bucket{
   background: $stress-gray;
    .logo{
        position: fixed;
        z-index: 10;
        img{
            width: 80px;
        }
        @media (min-width:550px) {
            left: 1%;
            top: -2%;
            img{
                width: 100px;
            }
        }
    }
    .social{
        position: fixed;
        right: .5%;
        top: 50%;
        transform: translateY(-50%);

        a, i{
            @include socialIcons();
            display: block;
        }
    }
    .nav-toggle{
        position: fixed;
        z-index: 10;
        top: 5%;
        right: 5%;
        font-weight: bold;
        color: $bucket-black;
    }
    .open-work{
        position: fixed;
        top: 50%;
        left: 2%;
        z-index: 10;
        color: $bucket-black;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: bold;
        transform: rotate(-90deg) translateY(-50%);
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 20%;
            height: .2rem;
            width: 100%;
            background: $bucket-black;
            transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
            transform-origin: right top;
            transform: scale(0, 1);
        }
        &:hover::before{
            transform-origin: left top;
            transform: scale(1, 1);
        }
        
    }
}

/*Inner Bucket
============================*/
.inner-bucket{
    position: relative;
    display: flex;
    .bucket-header{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-52%);
        h1{
          @include fancyH1();
            span{
                font-family: $bask-font;
                color: $blue;
                @media (min-width:550px) {
                    font-size: 15rem;
                }
            }
        }
        .scroll{
           margin-left: 39%;
           cursor: pointer;
            a{
                position: relative;
                color: #606060;
                font-style: italic;
                transition: all .3s ease-in-out;
                font-family: $bask-font;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 30%;
                    height: .6rem;
                    width: 100%;
                    background: rgba(128,128,128, .7);
                    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                    transform-origin: right top;
                    transform: scale(0, 1);
                }
            }
            img{
                width: 40px;
                transform: translate(-1rem, 1.5rem);
                transition: all .3s ease-in-out;
            }
            &:hover a::before{
                transform-origin: left top;
                transform: scale(1, 1);
            }
            &:hover img{
                transform: translate(-.8rem, 1.5rem);
            }
        }
    }
    .half__bucket{
        height: 96vh;
    }
    .left{
        width: 50%;
        background: $blue;
    }
    .right{
        width: 50%;
        background: $stress-gray;
    }
    @media (max-width:550px) {
        padding: 0;
        .bucket-header{
            top: 25%;
            h1{
                font-size: 6rem;
                line-height: 0;
                span{
                    font-size: 9rem;
                    line-height: 0;
                }
            }
            .scroll{
                margin-left: 30%;
                margin-top: 80%;
                img{
                    width: 30px;
                    transform: translate(-.7rem, 1.1rem);
                }
                a{
                    color: $bucket-black;
                }
            }
        }
        .half__bucket{
            height: 100vh;
        }
    }
}


.bio{
    width: 35%;
    position: absolute;
    top: 35%;
    right: 15%;
    display: none;
    .bio-text{
        position: relative;
        color: $bucket-black;
        opacity: 0;
        font-size: 1.1rem;
    }
    p{
        font-weight: bold;
        line-height: 1.6;
    }
    @media (max-width:550px) {
        width: 75%;
        left: 15%;
        padding: 8rem 0 4rem 0;
    }
    
}



.contact{
    height: auto;
    width: 90%;
    padding: 1rem 0;
    background: #fff;
    position: fixed;
    left: 5%;
    z-index: 10;
    transform: translateY(-2rem);
    display: none;
    .open-convo{
        color: $bucket-black;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }
    .bottom{
        background: #fff;
        display: none;
        padding: 1rem 2rem 0 2rem;
        position: relative;
        h2{
            position: absolute;
            bottom: 0;
            color: darken($stress-gray, 5);
            font-size: 5rem;
            transform: translate(7rem, 0rem);
            margin: 0;
            line-height: 0;
        }
        .row{
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            .col{
                flex-basis: 30%;
            }
            span, a{
                text-transform: uppercase;
                font-size: .7rem;
                letter-spacing: 2px;
                font-weight: 400;
                display: inline-block;
                color: $bucket-black;
            }
            .b{
                font-weight: bolder;
            }
        }
        @media (max-width:550px) {

            .row{
                flex-direction: column;
                span{
                    display: block;
                    padding: .4rem 0;
                }
            }
            .social{
                a, i{
                    @include socialIcons();
                    padding: .5rem .5rem .5rem 0;
                }
            }
        }
    }
    @media (max-width:550px) {
        .open-convo{
            line-height: 4;
            transform: translateY(-1.5rem);
        }
    }
}



.close-about{
    opacity: 0;
    position: fixed;
    z-index: 10;
    right: 3%;
    top: 3%;
    img{
        width: 30px;
    }
    @media (max-width:550px) {
        top: 85%;
        img{
            width: 20px;
        }
    }
}

//Full view work
.full-view-work{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: table;
    transform: translateX(-100%);
    background: $stress-black;
    .close-work{
        position: fixed;
        top: 3rem;
        right: 3rem;
        color: #fff;
        font-family: $sec-font;
        font-weight: 500;
        font-size: .9rem;
        transition: all .3s ease-in-out;
        &:hover{
            color: $blue;
            transform: translateX(-.3rem);
            font-style: italic;
        }
        i{
            transform: translate(-.2rem, .3px);
        }
    }
    .projects{
        display: table-cell;
        vertical-align: middle;
        ul{
            width: 80%;
            margin: 0 auto;
            li{
                display: block;
                padding: 1rem;
                a{
                    font-size: 4rem;
                    color: #fff;
                    font-weight: 700;
                    &:hover{
                        color: $blue;
                    }
                    .small-lk{
                        font-size: .9rem;
                        font-family: $bask-font;
                        font-weight: 400;
                        display: inline-block;
                        //margin-left: .2rem;
                    }
                    .links{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 40%;
                            height: .8rem;
                            width: 100%;
                            background: #fff;
                            transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                            transform-origin: right top;
                            transform: scale(0, 1);
                        }
                    }
                    &:hover .links::before{
                        transform-origin: left top;
                        transform: scale(1, 1)
                    }
                }
                @keyframes roll {
                   
                }
            }
        }
    }

    @media (max-width:550px) {
       .projects{
           ul{
               width: 100%;
               li{
                   padding: 1.2rem 0;
                   a{
                       font-size: 2rem;
                       font-weight: 400;
                       span{
                           display: block;
                           line-height: .5;
                       }
                       .small-lk{
                           margin-left: 0;
                           font-size: .8rem;

                       }
                   }
               }
           }
       }
    }
}


/*Projects | Views | Template
====================================*/
.project-view{
    display: table;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    .open-work{
        position: fixed;
        right: 3rem;
        top: 3rem;
        color: #fff;
        z-index: 10;
        font-size: 1.2rem;
    }
    .go-home{
        position: fixed;
        left: 3rem;
        top: 3rem;
        color: #fff;
        z-index: 10;
        font-size: 1.2rem;
    }
    .content{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        h1{
            font-size: 4rem;
        }
        p{
            max-width: 700px;
            margin: 0 auto;
            font-family: $bask-font;
            font-size: 1.2rem;
            line-height: 1.6;
        }
        .visit{
            color: #fff;
            font-weight: bold;
            position: relative;
            top: 2rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 40%;
                height: .8rem;
                width: 100%;
                background: $blue;
                transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                transform-origin: right top;
                transform: scale(0, 1);
            }
            &:hover::before{
                transform-origin: left top;
                transform: scale(1, 1)
            }
        }
    }
    @media (max-width:550px) {
        .content{
            overflow-x: hidden;
            h1{
                font-size: 2rem;
            }
            p{
                font-size: .9rem;
                max-width: 300px;
            }
        }
    }
}

//Project section
.project-section{
    background: $stress-gray;
    margin: 0;
    padding: 2rem 0;
    .contain{
        width: 80%;
        margin: 0 auto;
        .pro-details{
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: 3rem;
            color: $bucket-black;
            .col{
                flex-basis: 33%;
            }
            h4{
                line-height: 0;
                font-size: 1.3rem;
            }
            p{
                line-height: 0;
            }
        }
        @media (max-width:550px) {
            width: 95%;
            .pro-details{
                padding: 0;
                p{
                    font-size: .8rem;
                }
            }
        }
    }
   

    .pro-images{
        .img{
            margin: 2rem 0;
            //box-shadow: 0 0 10px #ccc;
            transition: all .3s ease-in-out;
            &:hover{
                transform: translateY(-.4rem);
            }
        }
        img{
            width: 100%;
        }
    }

    .next-project{
        color: $bucket-black;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 3rem 0;
        img{
            width: 40px;
            transform: translate(-.3rem, 1.5rem);
            transition: all .3s ease-out;
        }
        &:hover img{
            transform: translate(-.6rem, 1.5rem);
        }
    }
}

//Preloader
.preloader{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: $stress-gray;
    z-index: 9999;
    display: table;
    .pre-logo{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        img{
            width: 150px;
            animation: fade 3s infinite;
            opacity: .8;
        }
        @keyframes fade {
            0%, 20%, 80%, 100%{
                opacity: .8;
            }
            //40%{opacity: .5;}
            60%{opacity: .1;}
        }
    }
}